<p>Hej <%= @name %></p>

<% if @processed.any? %>
  <p>Disse bilag blev lagt ind i dinero:<br>
    <strong>
      <% @processed.each do |filename| %>
        <%= filename %><br>
      <% end %>
  </strong></p>
<% end %>

<% if @failed.any? %>
  <p>Disse bilag fejlede og blev ikke lagt ind i dinero:<br>
    <strong>
      <% @failed.each do |filename| %>
        <%= filename %><br>
      <% end %>
  </strong></p>
<% end %>

<% if @processed.any? %>
  <p>Du finder bilagene med dato <em><%= @date %></em> under <em>Bogføring > Bilagsoversigt</em></p>
<% end %>

<br clear="none" />
<br clear="none" />
<br clear="none" />
--------------- Original Message ---------------<br clear="none" />
<b>From:</b> <%= @message.from_name %> [<%= @message.from_email %>]<br clear="none" />
<b>Sent:</b> <%= @message.created_at.strftime('%Y-%m-%e %l:%M') %><br clear="none" />
<b>To:</b> <%= @message.email %><br clear="none" />
<b>Subject:</b> <%= @message.subject %><br clear="none" />
&nbsp;
<%= raw @message.body.gsub("\n", '<br>') %>
